
body{
	position: relative;
	width: 100%;
}
body>.back{
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	background: #000912 url('../img/bg.png');
	background-size: 300px;
	background-attachment: fixed;
	z-index: -12;
}

nav{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	padding: 15px 0;
	color: #ccc;
	z-index: 100;
	transition: 0.3s;
}
nav .container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row-reverse;
}
nav.bg{
	background: #000;
	padding: 10px 0;
}
nav.scrollUp{
	top: -90px;
}
nav .logo{
	display: none;
}
.logo:hover{
	display: inline-block;
	animation: swing 0.5s;
}
nav .logo img{
	height: 60px;
	transition: 0.3s;
}
nav.bg .logo img{
	height: 50px;
}
nav .menu{
	margin-bottom: 0;
	float: left;
	flex-order: 0;
	-ms-flex-order: 0;
}
nav .menu li{
	float: left;
}
nav .menu li a{
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding: 15px 15px 0;
	transition: 0.3s;
}
nav .menu li a:hover{
	color: #F9BE37!important;
}
nav .slide-horizontal:hover .char::before{
	color: #F9BE37;
}

nav .lang{
	position: relative;
	padding: 5px 0 0;
}
nav .lang a{
	display: block;
	padding: 10px 10px;
	background: #fff;
	color: #182034;
	border: 1px solid #ccc;
}
nav .lang a:hover{
	background: #F9BE37;
	border-color: #F9BE37;
	color: #eee;
	text-decoration: none;
}
nav .lang img{
	height: 22px;
}
nav .lang .hover-content img{
	border: 1px solid #eee;
}
nav .lang .hover-content{
	display: none;
	animation: fadeIn 0.3s;
	position: absolute;
	top: 100%;
}
nav .lang i{
	display: inline-block;
	transition: 0.3s;
}
nav .lang:hover i{
	transform: rotate(180deg);
}
nav .lang:hover .hover-content{
	display: block;
}

nav .myCollapse{
	cursor: pointer;
	position: relative;
	z-index: 102;
	display: none;

}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	transform: scale(1.2);
 }
 .hamRotate.active {
	transform: rotate(45deg);
 }
 .hamRotate180.active {
	transform: rotate(180deg);
 }
 .line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke:#F9BE37;
	stroke-width:5.5;
	stroke-linecap:round;
 }
 .ham4 .top {
	stroke-dasharray: 40 121;
 }
 .ham4 .bottom {
	stroke-dasharray: 40 121;
 }
 .ham4.active .top {
	stroke-dashoffset: -68px;
 }
 .ham4.active .bottom {
	stroke-dashoffset: -68px;
 }

@media (max-width: 1200px){
	nav .container{
		display: block;
	}
	nav .logo{
		display: block;
	}
	nav .myCollapse{
		display: block;
		margin-right: -15px;
	}
	nav .lang{
		padding: 12px 0;
	}
	nav .menu{
		float: none;
		overflow: auto;
		padding: 50px 15px 15px;
		font-size: 24px;
		position: fixed;
		top: 0;
		right: -320px;
		width: 320px;
		height: 100%;
		background: url('../img/dots.png'), #111114;
		background-size: cover;
		background-position: bottom left;
		color: #eee;
		display: block;
		z-index: 101;
		transition: 0.5s;
		transition-delay: 0.3s;
	}
	nav .menu.in{
		right: 0;
	}
	nav .menu li{
		float: none;
		width: 100%;
	}
	nav .menu li a{
		padding: 10px 20px 0;
	}
}

@media (max-width: 767.9px){
	nav .menu{
		transition-delay: 0s;
	}
}



 