.pieces-slider {
	position: relative;
	text-align: center;
	padding: 8rem 0;
}

.js .pieces-slider {
	padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
	position: absolute;
	right: 100%;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
	max-width: 1000px;
	max-height: 800px;
}

.js .pieces-slider__image {
	visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
	text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
	position: relative;
	width: 100vw;
	height: 100vh;
	transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
	opacity: 0;
	transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
	position: absolute;
	left: 0;
	top: 50%;
	width: 80px;
	height: 80px;
	margin: -25px 0 0 0;
	background-color:#23C476;
	color: #fff;
	font-family: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.1s background-color;
}

.pieces-slider__button:hover {
	background: #23C476;
}

.pieces-slider__button--next {
	left: auto;
	right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
	display: none;
}
.pieces-slider__button{
	font-size: 40px;
	overflow: hidden;
}
.pieces-slider__button--prev span{
	width: 20px;
	margin-top: 10px;
	animation: infinite fadeInRight  2s; 
}
.pieces-slider__button--next span{
	width: 20px;
	margin-top: 10px;
	animation: infinite fadeInLeft  2s; 
}
@media screen and (max-width: 720px) {
	.pieces-slider__image {
		max-width: 500px;
	}
}

@media screen and (max-width: 55em) {
	.pieces-slider__canvas {
		width: 100vw;
		height: 100vw;
	}
	.pieces-slider__button {
		width: 60px;
		height: 60px;
	}
}
